* {
  box-sizing: border-box;
}

body {
  font-family: $main-font, sans-serif;
  font-size: 16px;
  background-color: $white1;
}

input:focus, button:active {
  outline: none;
}

.preload {
  display: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-contant {
  flex: 1 0 auto;
}

@media (min-width: $tablet-size) {
  body {
    font-size: 20px;
  }
}
