@mixin category($color, $image-path) {
    position: absolute;
    top: 15px;
    right: 15px;
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-color: $color;
    background-image: url($image-path);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42px;
    border-radius: 50%;
}

@mixin container($block-width, $block-padding) {
  width: $block-width;
  $padding-right: $block-padding;
  $padding-right: $block-padding;
}

@mixin center-block {
  margin-left: auto;
  margin-right: auto;
}
