<h1 class="center">Welcome to Health Planet !</h1>
<%= form_tag '/search', method: 'get' do %>
  <%= text_field_tag :value %>
  <%= submit_tag "Search", class: "btn btn-large btn-primary" %>
<% end%>
