* {
  box-sizing: border-box;
}

body {
  font-family: $main-font, sans-serif;
  font-size: 16px;
  line-height: 18px;
  background-color: $white1;
}

p {
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: stretch;
}

.flex-contant {
  flex: 1 0 auto;
}

.hidden {
  display: none;
}

@media (min-width: $tablet-size) {
  body {
    font-size: 20px;
    line-height: 24px;
  }
}
