$green1: #042b41;
$green2: #2b9720;
$gray1: #5d6060;
$gray2: #d6d6d6;
$white1: #ffffff;
$white2: #fbfbf2;
$white1-opacity: rgba(251, 251, 242, 0.2);
$white2: #fff;
$orange1: #ffb30f;
$red1: #bf211e;

$main-font: "Roboto Light";
$font: "Roboto Medium";

$tablet-size: 768px;
$desktop-size: 1100px;
