$green1: #042b41;
$green2: #2b9720;
$gray1: #847577;
$gray1-opacity: rgba(132, 117, 119, 0.7);
$gray1-opacity-2: rgba(132, 117, 119, 0.3);
$gray2: #e1dad5;
$white1: #ffffff;
$white2: #fbfbf2;
$white1-opacity: rgba(251, 251, 242, 0.2);
$white2: #fff;
$orange1: #ffb30f;
$red1: #bf211e;

$main-font: "Roboto Light";
$font: "Roboto Medium";

$tablet-size: 768px;
$desktop-size: 1100px;
