$green1: #042b41;
$green2: #2b9720;
$gray1: #717461;
$gray2: #E8EDDF;
$white1: #fff;
$white1-opacity: rgba(255, 255, 255, 0.2);
$white2: #fff;
$orange1: #ffb30f;
$red1: #bf211e;

$main-font: "Roboto Light";
$font: "Roboto Medium";

$tablet-size: 768px;
$desktop-size: 1100px;
