.copyright {
  font-size: 13px;
}

.copyright__line {
  display: inline-block;
  vertical-align: middle;
}

.copyright--project {
	display: flex;
	align-items: center;
}

.copyright a {
  text-decoration: none;
  color: $green1;
}

@media (min-width: $tablet-size) {
  .copyright {
    font-size: 15px;
  }
}
