.e {
	position: relative;
	padding: 16px;
	border-top: 1px solid $gray1;
	border-bottom: 1px solid $gray1;
	background-color: $white2;

	&::after {
		content: '';
		position: absolute;
		right: 16px;
		top: 16px;
		display: block;
		width: 40px;
		height: 40px;
	}
}

.e--normal::after {
	background: url('../img/leaf.svg') no-repeat right / contain;
}

.e--medium::after {
	background: url('../img/leaf-yellow.svg') no-repeat right / contain;
}

.e--danger::after {
	background: url('../img/leaf-red.svg') no-repeat right / contain;
}

.e__title {
	margin: 0;
	padding: 8px 50px 8px 0;
}

.e__element {
	margin-top: 8px;
	padding-right: 32px;
	line-height: 22px;
}

.e__label {
	margin-right: 5px;
	text-decoration: underline;
}

@media (min-width: $tablet-size) {
	.e {
		width: $tablet-width;
		margin: 0 auto;
		border: 1px solid $gray1;
	}
}

@media (min-width: $desktop-size) {
	.e {
		width: $desktop-width;
	}
}
