.footer {
  padding: 10px;
  background-color: $gray1;
}

.flex-footer {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 550px) {
  .flex-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

@media (min-width: $tablet-size) {
  svg.copyright__line {
    width: 160px;
    height: 60px;
  }
}
