.form-block {
  display: flex;
  padding: 0 20px;
}

.form-block__input {
  flex-grow: 2;
  padding: 10px;
  background-color: $white1;
  border: 2px solid $green1;
}

.form-block__btn {
  width: 50px;
  height: 43px;
  margin-left: -1px;
  background: $green1;
  border: none;

  & svg {
    fill: $white1;
  }
}

@media (min-width: $tablet-size) {
  .form-block {
    padding: 0;
  }
  .form-block__btn {
    width: 64px;
    height: 48px;
  }
}
