.info {
	padding: 0 16px 32px;
}

.info__first {
	display: none;
	padding-bottom: 16px;
	text-align: center;
}

.info__second {
	text-align: center;
}

@media (min-width: $desktop-size) {
	.info {
		padding-top: 32px;
	}
}
