.copyright {
  font-size: 13px;
}

.copyright__line {
  display: inline-block;
  vertical-align: middle;
}

.copyright a {
  text-decoration: none;
  color: $green2;
}

@media (min-width: $tablet-size) {
  .copyright {
    font-size: 15px;
  }
}
