.result {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 35px;
}

@media (min-width: $tablet-size) {
  .result {
    width: 70%;
    @include center-block();
  }
}

@media (min-width: $desktop-size) {
  .result {
    width: 50%;
    @include center-block();
  }
}
