html
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width,initial-scale=1")
  title Healthy planet
  link(rel="stylesheet", href="css/style.css")
body
  section.main
    h1.main__title Здоровая планета
    form.main-form
      input.main-form__search(type="text" placeholder="Введите код пищевой добавки")
      input.main-form__submit(type="submit")
  section.result
    article.e
      h3.e__title E-100
      span.e__name Куркумин (Curcumin)
      span.e__category Красители
      span.e__danger Очень низкая
      span.e__description Куркумины (пищевая добавка Е100) — ярко-желтые натуральные красители, получаемые из растения куркумы (Curcuma longa).
