@keyframes animation-background {
  0% { background-image: url("../img/bg-1.jpg");  background-position: 50% 35%; }
  14% { background-image: url("../img/bg-2.jpg");  background-position: 50% 50%;  }
  28% { background-image: url("../img/bg-3.jpg");  background-position: 50% 50%;  }
  42% { background-image: url("../img/bg-4.jpg");  background-position: 50% 50%;  }
  56% { background-image: url("../img/bg-5.jpg");  background-position: 50% 15%;  }
  70% { background-image: url("../img/bg-6.jpg");  background-position: 50% 50%;  }
  84% { background-image: url("../img/bg-7.jpg");  background-position: 50% 50%;  }
  100% { background-image: url("../img/bg-8.jpg");  background-position: 50% 50%;  }
}

.main__title {
  animation: animation-background;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

@keyframes animation-result {
  0% { transform: translateY(-55px); }
  60% { transform: translateY(5px); }
  80% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.result {
  animation: animation-result;
  animation-duration: 1s;
}
