.main__title {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 45px;
  background-image: url("../img/bg-1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: $white1-opacity;
    z-index: -1;
  }
}

.main__title a {
  display: block;
  margin: 0 auto;
}

.main__title svg {
  display: block;
  margin: 0 auto;
  fill: $white1;
}

.main__title svg path {
  fill: $white1;
}

@media (min-width: $tablet-size) {
  .main__title a {
    width: 400px;
  }
}
