.result {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 35px;
}

.result__info-first {
  display: none;
  line-height: 1.5em;
}

.result__info-second {
  padding: 10px;
  font-family: $font;
  line-height: 1.5em;
}

@media (min-width: $tablet-size) {
  .result {
    width: 70%;
    @include center-block();
  }

  .result__info-first {
    display: block;
    padding: 0px;
  }

  .result__info-second {
    padding: 0px;
  }
}

@media (min-width: $desktop-size) {
  .result {
    width: 50%;
    @include center-block();
  }
}
