<header class="navbar navbar-default navbar-fixed-top " role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "HEALTH YEAH (ADMIN)", admin_path, class: "navbar-brand"  %>
      <%= link_to "Добавить", new_admin_food_additive_path, class: "btn btn-large btn-danger" %>
    </div>
    <div class="col-md-offset-10">
      <%= link_to "HEALTH YEAH", root_path, class: "navbar-brand"  %>
    </div>
  </div>
</header>
<h1 class='center' > Список </h1>
