<header>
  <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "HEALTH YEAH (ADMIN)", admin_path, class: "navbar-brand"  %>
      </div>
    </div>
  </nav>
</header>
