div.copyright.copyright--info
  p Информация взята c&nbsp;
    a(href="http://dobavkam.net/") сайта
div.copyright.copyright--project
  p.copyright__line Разработано студией
  svg.copyright__line(width="140px" height="40px")
    use(xlink:href="assets/images/symbols.svg#company-logo")