h1.main__title
    img.preload(src="images/bg-2.jpg")
    img.preload(src="images/bg-3.jpg")
    img.preload(src="images/bg-4.jpg")
    img.preload(src="images/bg-5.jpg")
    img.preload(src="images/bg-6.jpg")
    img.preload(src="images/bg-7.jpg")
    img.preload(src="images/bg-8.jpg")
    a(href="/")
    svg(width="100%" height="30%")
        use(xlink:href="images/symbols.svg#logo-2")