div.info
  p.info__first Если вам бывает непонятен состав продуктов, которе вы покупаете, то этот сайт специально для вас. Пока здесь можно посмотреть расшифровку и опасность кодов пищевых добавок (E). Но совсем скоро добавятся и другие ингридиенты.
  p.info__second Введите в поле поиска код пищевой добавки и узнайте, опасен ли продукт содержащий ее.
        