<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Главная", root_path %>
    </div>
  </div>
</header>
<h1 class="center">Добро пожаловать на Здоровую Планету!</h1>
