<header class="navbar navbar-default navbar-fixed-top " role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "HEALTH PLANET", root_path, class: "navbar-brand"  %>
    </div>
  </div>
</header>
<h1 class="center">Добро пожаловать на Здоровую Планету!</h1>
